.footer {
    background-color: #000;
    padding: 30px;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Kichik ekranda elementlar pastga tushishi uchun */
}

.footer-logo {}

.footer__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__item {}

.footer__item-link {
    color: #FFFFFF80;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none;
}

.footer__item-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.footer__item-link:active {
    color: #FF0000;
}

.net__link {}

.net__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.net__item {}

.net__item a {
    transition: transform 0.3s ease, opacity 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none;
}

.net__item a:hover {
    transform: scale(1.1);
    opacity: 0.8;
    text-decoration: underline;
}

.net__item a:active {
    transform: scale(0.9);
    opacity: 0.5;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 480px) {
    .footer__inner {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer__list {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 15px;
        margin-bottom: 10px;
    }

    .net__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
}
